<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

   <h1>Your Account</h1>

    <a href="/users/upgrade" class="btn btn-warning">Upgrade</a>     

  </body>
</html>